<script src="/js/user.js"></script>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
        <span class="navbar-brand mb-0 h1 p-1">
            <h2 class="text-light border-0 ml-5">Your Personal Movie Mentor!</h2>
        </span>
         <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        <section id="formContainer" class="container text-center justify-content-center">
            <form id="searchForm" class="form-inline">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-tv"></i></span>
                    </div>
                    <input id="inputField" type="text" class="form-control" placeholder="Search A Title"
                        aria-label="search" aria-describedby="basic-addon1">
                    <button id="searchBtn"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mt-2">
                    <h3 id="userName" class="username">{{username}}</h3>
                </li>
                <li>
                    <button type="button" class="btn btn-info btn-lg p-1 m-2" data-toggle="modal"
                        data-target="#watchListModal" id="watchListButton">Watchlist</button>
                </li>
            </ul>
            <li>
                <button type="button" class="btn btn-info btn-lg p-1 m-2" data-toggle="modal"
                    data-target="#logoutModal">Logout</button>
                <div class="modal fade" id="logoutModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button id="logout1234" type="button" class="close"
                                    data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Are you sure you want to logout?</h4>
                            </div>
                            <div class="modal-body1">
                                <button type="button" class="btn btn-default" id="logout"
                                    data-dismiss="modal">Logout</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </nav>
</header>
<main class="backgroundTwo d-flex card-group" id="cardGroup"
    style=" height: auto; margin: 0 auto; float: none; padding-top: 20px;">
    <div class="container">
        <div id="myModal" class="modal">
            <div class="modal-content gradientBg">
                <div class="modal-header w-100">
                    <span id="searchSpan"class="close">&times;</span>
                </div>
                <div id="searchModalBody" class="modal-body row text-white darkBg container-fluid">
                </div>
            </div>
        </div>

        <div id="watchListModal" class="modal">
            <div class="modal-content">
                <div class="modal-header w-100">
                    <span id="watchListSpan"class="close">&times;</span>
                </div>
                <div id="watchListModalBody" class="modal-body row text-white darkBg container-fluid">
                </div>
            </div>
        </div>
        
        <div class="col-12 ml-3 mr-3 card darkBg">
            <div class="col-4">
                <h3 class="text-white">Sections</h3>
                <select>
                    <option value="A">Trending</option>
                    <option value="B">Discover Movies</option>
                    <option value="C">Discover Tv</option>
                    <option value="D">Top Rated Movies</option>
                    <option value="E">Upcoming Movies</option>
                </select>
            </div>
            <div class="col-4">
                <h3 class="text-white">Movies</h3>
                <select>
                    <option value="">-------</option>
                    {{#each genreMovie}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <h3 class="text-white">Tv</h3>
                <select>
                    <option value="">-------</option>
                    {{#each genreTv}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div id="appendListings" class="row d-flex justify-content-center">
        {{#each listings}}
            <figure class="card-body col-2 p-0 m-3">
                <img class="card-img pb-1 borderedRound searchThis" data-title="{{listTitle}}" src="http://image.tmdb.org/t/p/w200{{image}}" alt="Photo of {{listTitle}}">
            </figure>
        {{/each}}
        </div>
    </div>
</main>