<script src="/js/user.js"></script>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
        <span class="navbar-brand mb-0 h1 p-1">
            <h2 class="text-light border-0 ml-5">Your Personal Movie Mentor!</h2>
        </span>
        <section id="formContainer" class="container text-center justify-content-center">
            <form id="searchForm" class="form-inline">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-tv"></i></span>
                    </div>
                    <input id="inputField" type="text" class="form-control" placeholder="Search A Title"
                        aria-label="search" aria-describedby="basic-addon1">
                    <button id="searchBtn"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li>
                    <button type="button" class="btn btn-info btn-lg p-1 m-2" data-toggle="modal"
                        data-target="#watchListModal" id="watchListButton">Watchlist</button>
                </li>
            </ul>

            <li class="nav-item mt-3">
                <button id="userNameBtn">Username</button>
            </li>

            <li>
                <button type="button" class="btn btn-info btn-lg p-1 m-2" data-toggle="modal"
                    data-target="#logoutModal">Logout</button>
                <div class="modal fade" id="logoutModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button id="logout1234" type="button" class="close"
                                    data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Are you sure you want to logout?</h4>
                            </div>
                            <div class="modal-body1">
                                <button type="button" class="btn btn-default" id="logout"
                                    data-dismiss="modal">Logout</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </div>


    </nav>



</header>
<div class="card w-100 col-1 abs darkBg">
        <h3 class="text-white">Sections</h3>
        <select>
            <option value="1">Trending</option>
            <option value="2">Discover Movies</option>
            <option value="3">Discover Tv</option>
            <option value="4">Top Rated Movies</option>
            <option value="5">Upcoming Movies</option>
        </select>
         <h3 class="text-white">Movies</h3>
        <select>
            <option>-------</option>
            {{#each genreMovie}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <h3 class="text-white">Tv</h3>
        <select>
            <option>-------</option>
            {{#each genreTv}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
<main class="card-group container d-flex" id="cardGroup"
    style="width: 90%; height: auto; margin: 0 auto; float: none; margin-top: 20px;">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header w-100">
                <span id="searchSpan"class="close">&times;</span>
            </div>
            <div id="searchModalBody" class="modal-body row text-white darkBg container-fluid">
            </div>
        </div>
    </div>

    <div id="watchListModal" class="modal">
        <div class="modal-content">
            <div class="modal-header w-100">
                <span id="watchListSpan"class="close">&times;</span>
            </div>
            <div id="watchListModalBody" class="modal-body row text-white darkBg container-fluid">
            </div>
        </div>
    </div>
    
    <h2 class="text-center col">Trending</h2>
    <div class="row d-flex justify-content-center">
    {{#each listings}}
        <figure class="card-body col-2 p-0 m-3">
            <img class="card-img pb-1 borderedRound" src="http://image.tmdb.org/t/p/w200{{image}}" alt="Photo of {{listTitle}}">
        </figure>
    {{/each}}
    </div>
</main>